@import './../../sassStyles/Variables.module.scss';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08%);
	z-index: 99;

	.header__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: $headerHeight;
	}
}
